body{
    margin: 0;
    padding: 0;
}
.add{
    width: 48%;
}
@media (max-width:1000px){
    .add{
        width: 100%;
    }
}
@media (max-width:768px){
    .all{
        flex-wrap: wrap
    }
    .all li{
        margin: 10px 20px;
    }
}